<!DOCTYPE html>
<html th:with="language=${#locale.language}" th:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminTemplate}">

<th:block layout:fragment="pageContent">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-10 offset-1">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Vendas de Produtos por Categoria
                </div>
                <div class="card-body">
                    <div id="chart-box">
                        <canvas id="sales-category-chart" width="100%" height="40"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row flex-row justify-content-center">
                        <div class="col-2">
                            <input type="date" name="startDate" id="startDate">
                        </div>
                        <div class="col-2">
                            <input type="date" name="endDate" id="endDate">
                        </div>
                        <button type="button" class="btn btn-success" name="intervalFilter" id="intervalFilter">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">

    <script th:src="@{/assets/custom/pages/admin/dashboard/dashboard.js}"></script>

</th:block>

</html>