<!DOCTYPE html>
<html th:with="language=${#locale.language}" th:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Minhas trocas | Loja de Utilidades Domésticas</title>
</head>
<body>

<th:block layout:fragment="pageContent">

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <th:block layout:insert="~{fragments/customer/verticalMenu}"></th:block>
            </div>
            <div class="col-10 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Meus pedidos</h4>
                    </div>
                    <div class="card-body">

                        <th:block th:if="${!thereAreTrades}">

                            <div class="alert alert-info">
                                Você ainda não realizou nenhuma troca ou devolução. Caso precise, vá até
                                <a th:href="@{/orders}" class="btn btn-outline-secondary btn-sm">
                                    Pedidos
                                </a>
                                , selecione o pedido desejado, role até o final da página de visualização e
                                utilize o formulário para iniciar uma troca/devolução.
                            </div>

                        </th:block>

                        <th:block th:if="${thereAreTrades}">

                            <table id="products-table" class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                <th>Número</th>
                                <th>Tipo</th>
                                <th>Data da solicitação</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                <!--/*@thymesVar id="trade" type="br.com.utily.ecommerce.entity.domain.shop.trade.Trade"*/-->
                                <tr th:each="trade : ${trades}">
                                    <td>
                                        <a href="#" th:text="${trade.number}"></a>
                                    <td>
                                        <span th:text="${#temporals.format(trade.date, 'dd/MM/yyyy HH:mm:ss')}"></span>
<!--                                    <td>-->
<!--                                        <span th:text="${#strings.replace(#numbers.formatCurrency(), '$', 'R$')}">R$ 192,00</span>-->
<!--                                    </td>-->
                                    <td>
                                        <span class="badge badge-pill badge-primary" th:text="${trade.status.getDisplayName()}"></span>
                                    </td>
                                    <td>
                                        <a th:href="@{/trades/} + ${trade.id}" class="btn btn-secondary btn-sm">Ver mais detalhes</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        </th:block>

                    </div>
                </div>
            </div>


        </div>

    </div>

</th:block>

</body>
</html>
