<!DOCTYPE html>
<html th:with="language=${#locale.language}" th:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminTemplate}">>


<th:block layout:fragment="pageContent">
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Trocas
        </div>
        <div class="card-body">

            <th:block layout:insert="~{fragments/redirectMessage}" />

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Número</th>
                        <th>Data da solicitação</th>
                        <th>Tipo</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Detalhes</th>
                        <th class="text-center">Ação rápida no status</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Número</th>
                        <th>Data da solicitação</th>
                        <th>Tipo</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Detalhes</th>
                        <th class="text-center">Ação rápida no status</th>
                    </tr>
                    </tfoot>
                    <tbody>
                        <!--/*@thymesVar id="trade" type="br.com.utily.ecommerce.entity.domain.shop.trade.Trade"*/-->
                        <tr th:each="trade : ${trades}">
                            <td>
                                <a th:href="@{/admin/trades/} + ${trade.id}">
                                    <span th:text="${#strings.abbreviate(trade.number, 20)}"></span>
                                </a>
                            </td>
                            <td th:text="${#temporals.format(trade.date, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td th:text="${trade.type.displayName}"></td>
                            <td th:text="${trade.order.customer.name}"></td>
                            <td>
                                <span class="badge badge-pill badge-primary"
                                      th:text="${trade.status.getDisplayName()}"
                                ></span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a th:href="@{/admin/trades/} + ${trade.id}">
                                        <i class="fas fa-info-circle text-info text-lg"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col ml-0 mr-0 pl-0 pr-0">
                                        <th:block th:unless="${trade.isReceivedItems()}">
                                            <form class="form-inline" th:action="@{/admin/trades/} + ${trade.id} + @{/update-status}" method="post">
                                                <div class="col-7 offset-1 form-group">
                                                    <select class="form-control sm"
                                                            id="tradeStatus"
                                                            name="newStatus"
                                                            th:disabled="${trade.isGeneratedVoucher()}"
                                                    >
                                                        <option th:each="tradeStatus : ${T(br.com.utily.ecommerce.entity.domain.shop.trade.ETradeStatus).values()}"
                                                                th:value="${tradeStatus.name()}"
                                                                th:text="${tradeStatus.displayName}"
                                                                th:selected="${trade.status == tradeStatus}"
                                                        ></option>
                                                    </select>
                                                </div>
                                                <div class="col-3 ml-4">
                                                    <button type="submit"
                                                            class="btn btn-success sm"
                                                            th:disabled="${trade.isGeneratedVoucher()}"
                                                    >
                                                        <i class="fa fa-check-circle text-white"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </th:block>
                                        <th:block th:if="${trade.isReceivedItems()}">
                                            <form class="form-inline" th:action="@{/admin/trades/} + ${trade.id} + @{/generate-voucher}" method="post">
                                                <div class="col-6 offset-3">
                                                    <button type="submit"
                                                            class="btn btn-success sm"
                                                    >
                                                        <i class="fa fa-gift text-white"></i>
                                                        Gerar cupom
                                                    </button>
                                                </div>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

</html>