<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="redirectMessage" th:if="${!#strings.isEmpty(message)}">
    <div class="alert fade show"
         role="alert"
         th:classappend="${isSuccess ? 'alert-success alert-dismissible' : 'alert-danger' }"
         th:if="${!#strings.isEmpty(message)}"
    >
        <span th:text="${message}"></span>
        <button th:if="${isSuccess}" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</th:block>

</html>