<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Utily</title>
</head>
<body>

<th:block layout:fragment="simpleFooter">
    <footer class="pt-4 mb-0 pb-0 my-md-5 pt-md-5 border-top .fixed-bottom d-flex justify-content-xl-center">
        <div class="row">
            <div class="col-12 col-md">
                © 2020 Todos os direitos reservados - <a href="https://github.com/hanseld28" target="_blank">Hansel Donizete</a>
            </div>
        </div>
    </footer>
</th:block>

</body>
</html>