<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block layout:fragment="verticalMenu">
        <div class="card">
            <nav class="navbar bg-light">
                <ul class="navbar-nav" style="font-size: 17px">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/account}">Conta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/orders}">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/trades}">Trocas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/adresses}">Endereços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/credit-cards}">Cartões</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/change-password}">Alterar senha</a>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
</html>