<!DOCTYPE html>
<html th:with="language=${#locale.language}" th:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminTemplate}">>


<th:block layout:fragment="pageContent">
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Vendas
        </div>
        <div class="card-body">

            <th:block layout:insert="~{fragments/successMessage}" />

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Número</th>
                        <th>Data da compra</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Detalhes</th>
                        <th class="text-center">Ação rápida</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Número</th>
                        <th>Data da compra</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Detalhes</th>
                        <th class="text-center">Ação rápida</th>
                    </tr>
                    </tfoot>
                    <tbody>
                        <!--/*@thymesVar id="sale" type="br.com.utily.ecommerce.entity.domain.shop.sale.Sale"*/-->
                        <tr th:each="sale : ${sales}">
                            <td>
                                <a th:href="@{/admin/sales/} + ${sale.id}">
                                    <span th:text="${sale.identifyNumber}"></span>
                                </a>
                            </td>
                            <td th:text="${#temporals.format(sale.purchaseDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td th:text="${sale.customer.name}"></td>
                            <td>
                                <span class="badge badge-pill"
                                      th:text="${sale.status.getDisplayName()}"
                                      th:classappend="${sale.computeStatusColorClass('badge')}"
                                ></span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a th:href="@{/admin/sales/} + ${sale.id}">
                                        <i class="fas fa-info-circle text-info text-lg"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col ml-0 mr-0 pl-0 pr-0">
                                        <form class="form-inline" th:action="@{/admin/sales/} + ${sale.id} + @{/update-status}" method="post">
                                            <div class="col-7 offset-1 form-group">
                                                <select class="form-control sm"
                                                        id="saleStatus"
                                                        name="newStatus"
                                                        th:disabled="${sale.delivered()}"
                                                >
                                                    <option th:each="saleStatus : ${T(br.com.utily.ecommerce.entity.domain.shop.sale.ESaleStatus).values()}"
                                                            th:value="${saleStatus.name()}"
                                                            th:text="${saleStatus.displayName}"
                                                            th:selected="${sale.status == saleStatus}"
                                                    ></option>
                                                </select>
                                            </div>
                                            <div class="col-3">
                                                <button type="submit"
                                                        class="btn btn-success sm"
                                                        th:disabled="${sale.delivered()}"
                                                >
                                                    <i class="fa fa-check-circle text-white"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

</html>